.edit-message-modal {
  display: none;
}

.modal-shown {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-message-modal-body {
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  height: 35%;
  background-color: rgb(88, 88, 170);
}
.edit-message-modal-body form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
}
.edit-message-input {
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 2.5%;
  height: 90%;
  width: 90%;
  align-items: center;
}
.edit-message-modal-body label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 80%;
}
.close-btn-wrp {
  display: flex;
  flex-direction: row-reverse;
}
.edit-message-close {
  margin: 5px;

  background-color: rgb(88, 88, 170);
  width: 30px;
  height: 30px;
}
.edit-message-close img {
  height: 100%;
  width: 100%;
}
.btn-save-wrp {
  height: 100%;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-message-button {
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 0px;
  margin-right: 20px;
  width: 100px;
}
