@import "./preloader/style.css";
@import "./header/style.css";
@import "./messagelist/style.css";
@import "./zeroing.css";
@import "./message/style.css";
@import "./chat/chat.css";
@import "./dataline/style.css";
@import "./input/style.css";
@import "./editform/style.css";
#root {
  background-color: rgb(132, 73, 138);
  height: 100%;
  display: flex;
  justify-content: center;
}
